.button {
    background: #abcdef;
    color: black;
    padding: 20px;
    border-radius: 5px;
    display: block;
}

#bottom {
    width: 100%;
    position: absolute;
    bottom: 10px;
    text-align: center;
}